  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570385404967-fe4e1b48454b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fG1vdmllfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1> Add a new <strong>bookmark in category!</strong></h1>
    <p>Let's add bookmarks into the list</p>
  </div>
</div>
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :movie_id, collection:Movie.all %>
  <%= f.label :comment %>
  <%= f.text_field :comment %>
  <%= f.submit %>
<% end %>
